.nuevos-ingresos-container{
	margin-top: 10rem;
  height: 20rem;

}
.nuevos-ingresos {
	height: 100%;
  width: 100%;
	border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* oscurecer un poco el fondo para que el texto se lea */
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.35);
}

.nuevos-ingresos-title {
	position: relative;
	right: 20rem;
  font-size: 1.3rem;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: auto;
  color: var(--color2);
}

.producto-card-wrapper {
	position: relative;
	left: 20rem;
  z-index: 10; /* para que quede sobre el fondo */
}


@media (max-width: 1525px) {
.nuevos-ingresos-title {
	right: 16rem;
}

.producto-card-wrapper {
	left: 16rem;
}

}

@media (max-width: 1335px) {
.nuevos-ingresos-title {
	right: 13rem;
}

.producto-card-wrapper {
	left: 13rem;
}

}

@media (max-width: 1200px) {
.nuevos-ingresos-title {
	right: 10rem;
}

.producto-card-wrapper {
	left: 10rem;
}

}

@media (max-width: 1000px) {
.nuevos-ingresos-title {
	right: 5rem;
}

.producto-card-wrapper {
	left: 5rem;
}

}

@media (max-width: 725px) {
.nuevos-ingresos-title {
	right: 1rem;
}

.producto-card-wrapper {
	left: 1rem;
}

.nuevos-ingresos-title {
  font-size: 1rem;
}

}