.hero{
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
}
.hero-middle-1{
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-title{
  font-size: 2.2rem;
   font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: auto;
  color: var(--color2);

}
.title-span{
  color: var(--color5);
  font-size: 2.2rem;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.hero-text{
  color: var(--color2);
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.1rem;
}

.hero-info{

  display: flex;
  flex-direction: column;
}
.hero-info-1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.hero-starts{
  display: flex;
    color: var(--color1);

}
.hero-number{
  color: var(--color1);
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.hero-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 1rem;
  gap: 1rem;
}
.hero-buttons a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  border-radius: 1rem;
  width: 30%;
  height: 2.2rem;
  font-size: 1rem;
  color: var(--color3);
}

.hero-image-container {

  position: absolute; /* posicionamiento relativo al hero */
  right: 3rem; /* la separa del borde derecho */
  top: 12rem;
  transform: translateY(-50%); /* ajuste vertical exacto */
  z-index: 10; /* que quede encima de todo lo demás */
}

.hero-image-container img {
  width: 25rem; /* ajusta según tu diseño */
  height: auto;
  position: relative; /* para que el glow quede detrás */
  z-index: 2;
}

.hero-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50rem;
  height: 300px;
  background: radial-gradient(circle, rgba(50, 255, 101, 0.6) 0%, rgba(255,255,255,0) 70%);
  border-radius: 60%;
  transform: translate(-50%, -50%);
  z-index: 1; /* detrás de la imagen */
  filter: blur(50px); /* difumina la luz */
} 


.bellow{
  height: 6rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.bellow-button{
  background-color: rgb(101, 190, 101);
  color: var(--color3);
  border-radius: 1.1rem;
  padding: 0.3rem;
}

.bellow-button:hover{
  color: var(--color1); /* cambia el color del texto */
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* efecto “brillo” */
  transition: all 0.3s ease-in-out;
}

.bellow-text{
  width: 30rem;
}

.bellow-text p{
  margin-top: 0.6rem;
  color: rgb(101, 190, 101);
  font-size: 0.7rem;
}

