header{
  background-color: rgb(98, 97, 175);
  height: 2.5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  max-width: 10%;
}

.open-menu{
  display: none;
}



@media screen and (max-width: 700px) {
  .open-menu{
    display: block;
  }

}