header{
  background-color: var(--color1);
  padding-inline: 0.5rem;
  height: 2.5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color3);
  color: var(--color1);
  position: sticky;
  top: 0;
  z-index: 100;

}

.logo{
  max-width: 7rem;
}

.open-menu{
  display: none;
}

.nav {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HACER QUE LA UL OCUPE TODO Y SE CENTRE */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;   /* 👈 Centra los <li> */
  width: 100%;               /* 👈 Que la ul ocupe todo el espacio dentro de nav */
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* LOS <li> CENTRADOS VERTICAL Y HORIZONTALMENTE */
.nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



/* Los links también centrados */
.nav-options {
  text-decoration: none;
  font-size: 0.6rem;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 0.2rem;
  color: var(--color1)
}
.nav-options:hover {
  color: var(--color1); /* cambia el color del texto */
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* efecto “brillo” */
  transition: all 0.3s ease-in-out;
}
.close-menu{
  font-size: 1rem;
  display: none;

}

.cart-user{
  display: flex;
  gap: 1rem;
}
.cart-user-icons{
  color: var(--color1);
}

.cart-icon-wrapper {
  display: inline-flex;      /* pone icono y número en la misma línea */
  align-items: center;       /* centra verticalmente el número con el icono */
}

.cart-count {
  position: absolute;
  right: 5rem;
  top: 0.9rem;
  font-size: 0.4rem;         /* tamaño del número */
  background-color: var(--color4); /* opcional: fondo del contador */
  color: white;
  border-radius: 50%;
  padding: 0.1rem 0.3rem;    /* hace un círculo o cápsula */
}
.login-button-container{
  background-color: var(--color4);
  border-radius: 1rem;
  height: 70%;
  width: 5rem;
  gap: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-button-container a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.6rem;
  color: var(--color1); /* opcional: fondo del contador */

}



@media screen and (max-width: 700px) {
  .open-menu{
    font-size: 1rem;
    display: block;
    
  }
  .close-menu{
    display: block;
    color: var(--color3)
  }
  .close-menu:hover {
  color: var(--color4); /* cambia el color del texto */
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* efecto “brillo” */
  transition: all 0.3s ease-in-out;
  }
  
  .nav{
      opacity: 0;
      visibility: hidden;
  } 
  .nav.visible{
      opacity: 1;
      visibility: visible;
  } 
  
  .nav-options{
      color: var(--color3)
  }
  .nav-options:hover {
    color: var(--color4); /* cambia el color del texto */
  }

  .nav{
    position: absolute;
    top:  0.5rem;
    right: 0.5rem;
    width: 30vw;
    height: 10rem;
    border-radius: 1rem;
    padding-block: 0.5rem;
    background-color: transparent; 
    background-color: rgba(212, 218, 217, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
  }

  .nav-list{
    padding: 0.3rem;
    gap: .5rem;
    flex-direction: column;
    align-items: flex-start;
    height: 15vh;
  }

}