footer {
  background-color: var(--color3);
  color: var(--color1);
  padding-inline: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.7rem; /* base para todo el footer */
  padding-top: 4rem;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  min-width: 120px;
}

.footer-section p {
  font-size: 0.6rem; /* tamaño específico para los párrafos */
  margin: 0.2rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin: 0.2rem 0;
}

/* Links que se ven como los de la navbar */
.footer-section a {
  text-decoration: none;
  font-size: 0.6rem;              
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 0.2rem;
  color: var(--color1);
  transition: all 0.3s ease-in-out;
}

/* Hover igual que navbar */
.footer-section a:hover {
  color: var(--color1);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

/* Redes sociales */
.social-icons {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}

.social-icons a {
  color: var(--color1);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a:hover {
  color: var(--color5);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

/* Footer bottom */
.footer-bottom {
  border-top: 1px solid var(--color1);
  width: 100%;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.5rem;
  padding-top: 1rem;
}

/* Responsive */
@media screen and (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    align-items: center;
  }
}
