@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.65rem;

}
.linearGradient {
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}