.instructions-section {
  margin-top: 5rem;
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  text-align: center;
	flex-wrap: wrap;
}

/* --- CARD --- */
.instructions-card {
  position: relative;
  width: 15rem;
  height: 10rem;
  padding-top: 5rem; /* deja espacio para la imagen que sobresale */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 1.5rem;
  overflow: visible; /* importante para permitir sobresalir la imagen */
  display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
}

/* --- CONTENEDOR DE IMAGEN + GLOW --- */
.instructions-img-container {
  position: absolute;
  top: -3rem; /* hace que sobresalga */
  left: 50%;
  transform: translateX(-50%);
  width: 14rem;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions-img {
  z-index: 2;
  position: relative;
}
.instruction-img1{
	height: auto;
	width: 7rem;
}

.instruction-img2{
	top: 1rem;
	height: 8rem;
	width: 5rem;
}

.instruction-img3{
	top: 1rem;
	height: auto;
	width: 8rem;
}

/* --- GLOW (SOMBRA DEBAJO DE LA IMAGEN) --- */
.instructions-glow {
  position: absolute;
  bottom: -70px;              /* sombra justo debajo */
  left: 50%;
  transform: translateX(-50%);
  width: 120px;               /* sombra ovalada */
  height: 25px;
  background: rgba(0, 0, 0, 080); /* sombra negra */
  border-radius: 50%;
  filter: blur(20px);         /* suavizada */
  z-index: 1;
  pointer-events: none;
}

/* --- TEXTO --- */
.instructions-text {
  margin-top: 1.5rem;
  color: white;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
}


@media (max-width: 1380px) {
.instructions-card {
  width: 10rem;
  height: 10rem;
}
}

@media (max-width: 120px) {
.instructions-card {
  width: 8rem;
  height: 8rem;
}
}